@media all and (max-width: 1440px){

  .bg_circle{
    max-width: 960px;
    height: 960px;
  }

  .selected .wraper_head{
    padding: 0 20px;
  }
  .advances .wrap_items{
    padding: 0 20px;
  }
  .selected .wraper_head span{
    font-size: 250px;
  }
  .advances .wrap_items .item .wrap_content .title{
    font-size: 20px;
  }
  .advances .wrap_items .item .wrap_content .content{
    font-size: 16px;
  }
  .advances .wrap_items .item .wrap_content{
    max-width: 350px;
  }
  .advances .wrap_items{
    justify-content: space-around;
  }
  .info .wrap_img .air_img{
    max-width: 1200px;
  }
}
@media all and (max-width: 1280px){
  .banner::before {
    max-width: 700px;
    background-size: contain;
  }
  .banner::after {
    background-size: contain;
    max-width: 700px;
  }
  .bg_circle{
    max-width: 700px;
    height: 700px;
  }
  .bg_circle::before {
    max-width: 500px;
    height: 500px;
  }
  .selected::after {
    max-width: 1200px;
    background-size: contain;
  }
  .advances .title {
    margin-bottom: 50px;
  }
  .banner span {
    font-size: 100px;
  }
}
@media all and (max-width: 1024px) {
  body{
    overflow-x: hidden;
  }
  .bg_circle{
    max-width: 500px;
    height: 500px;

    &:before{
      max-width: 420px;
      height: 420px;
    }
  }

  .banner::before {
    background-size: contain;
    max-width: 500px;
  }
  .banner::after {
    background-size: contain;
    max-width: 500px;
  }
  .banner span {
    font-size: 80px;
    transform: translate(-14%, 430px) rotate(90deg);
  }
  .selected::after {
    max-width: 800px;
    background-size: contain;
    top: 60%;
  }
}

@media all and (max-width: 960px){

  .bg_circle {
    max-width: 300px;
    height: 300px;
    &:before{
      max-width: 150px;
      height: 150px;
    }
  }
  .selected .wraper_head {
    flex-direction: column;
  }


.selected .wraper_head .wraper_titels {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .item{
    margin-bottom: 50px;
    }
  }
  .selected::after {
    top: 80%;
  }
  .selected .btns_selected {
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media all and(max-width: 768px) {
  header h1 {
    font-size: 26px;
  }
  .bg_circle {
    display: none;
  }
  .banner::before {
    max-width: 200px;
  }
  .banner::after {
    max-width: 200px;
  }
  .banner span {
    font-size: 32px;
    line-height: 50px;
    transform: translate(-14%,200px) rotate(90deg);
  }
  .selected .wraper_head span{
    font-size: 200px;
  }
  .selected .wraper_head .item .item_key{
    font-size: 50px;
    margin-right: 10px;
  }
  .selected .wraper_head .item .item_content .title{
    font-size: 30px;
  }
  .selected .wraper_head .item .item_content .content{
    font-size: 14px;
  }
  .advances .title {
    font-size: 30px;
  }
  .advances .wrap_items .item .item_key {
    max-width: 30px;
    width: 100%;
    font-size: 32px;
    margin-right: 10px;
    border: none;
  }
  .advances .wrap_items .item .wrap_content{
    max-width: 320px;
  }

  .info .wrap_img .pc_img{
    margin-top: 0;
  }
  .info .wrap_img .air_img{
    margin-top: 0;
  }
  footer{
    padding-bottom: 150px;
  }
  footer h2 {
    font-size: 32px;
  }
  .advances{
    padding-top: 0px;
  }
  .jobs{
    padding-top: 50px;
    background-position-y:0px ;
  }
 .wrap_select{
   a{
     font-size: 30px!important;
     div{
       width: 80px!important;
       height: 80px!important;
     }
   }
 }
}