@font-face {
    font-family: 'PT Sans Caption;';
    src: url(./PTSansCaption-Bold.ttf);
}
@font-face {
    font-family: 'Raleway';
    src: url(./Raleway-Black.ttf);
}
@font-face {
    font-family: 'Padauk';
    src: url(./Padauk-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-Regular.ttf);
}